@import "vars";

footer {   
  height: $footer-height;
  background-color: blue;
  background-image: image-url("blocks/footer/footer-bg.jpg");
  background-repeat: repeat-x;
  background-position: 0 0;
  .copyright {
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    line-height: $footer-height;
    text-align: center;
  }
}
