#security
  .wrapper
    %h1
      %i Системы
      Безопасности
      %span
    .security
      = image_tag "security/cam.jpg", alt: "Системы безопасности"
      .links
        %h2 Системы безопасности
        %ul.security-links
          %li= link_to "Видеонаблюдение", "#1"
          %li= link_to "ОПС охранно-пожарная сигнализация", "#2"
          %li= link_to "ОС охранная сигнализация", "#3"
          %li= link_to "СКУД системы контроля доступа", "#4"
          %li= link_to "Оповещение", "#5"
          %li= link_to "Турникеты", "#6"
  #security-slider
    .wrapper
      %ul.slider
        %li
          %h2 ОС охранная сигнализация
          %p.info
            Пожарная сигнализация - совокупность технических средств, предназначенных для обнаружения пожара, обработки, передачи в заданном виде извещения о пожаре, специальной информации и (или) выдачи команд на включение автоматических установок пожаротушения и включение исполнительных установок систем противодымной защиты, технологического и инженерного оборудования, а также других устройств противопожарной защиты;
          %h3 Компания "НИССА" осуществляет следующие услуги по созданию системы охранно-пожарной сигнализации:
          %ul
            %li
              проектирование;
            %li
              подбор оборудования (пожарные оповещатели и извещатели, приборы приемно-контрольные и др.) и материалов;
            %li
              поставку оборудования и материалов;
            %li
              монтаж;
            %li
              обслуживание;
            %li
              ремонт.
          %p
            Обслуживание системы ОПС происходит ежемесячно на основе заключенного договора. Стоимость работ зависит от количества обслуживаемого оборудования.
        %li
          %h2 Видеонаблюдение
          %p.info
            Пожарная сигнализация - совокупность технических средств, предназначенных для обнаружения пожара, обработки, передачи в заданном виде извещения о пожаре, специальной информации и (или) выдачи команд на включение автоматических установок пожаротушения и включение исполнительных установок систем противодымной защиты, технологического и инженерного оборудования, а также других устройств противопожарной защиты;
          %h3 Компания "НИССА" осуществляет следующие услуги по созданию системы охранно-пожарной сигнализации:
          %ul
            %li
              проектирование;
            %li
              подбор оборудования (пожарные оповещатели и извещатели, приборы приемно-контрольные и др.) и материалов;
            %li
              поставку оборудования и материалов;
            %li
              монтаж;
            %li
              обслуживание;
            %li
              ремонт.
          %p
            Обслуживание системы ОПС происходит ежемесячно на основе заключенного договора. Стоимость работ зависит от количества обслуживаемого оборудования.
        %li
          %h2 Видеонаблюдение
          %p.info
            Пожарная сигнализация - совокупность технических средств, предназначенных для обнаружения пожара, обработки, передачи в заданном виде извещения о пожаре, специальной информации и (или) выдачи команд на включение автоматических установок пожаротушения и включение исполнительных установок систем противодымной защиты, технологического и инженерного оборудования, а также других устройств противопожарной защиты;
          %h3 Компания "НИССА" осуществляет следующие услуги по созданию системы охранно-пожарной сигнализации:
          %ul
            %li
              проектирование;
            %li
              подбор оборудования (пожарные оповещатели и извещатели, приборы приемно-контрольные и др.) и материалов;
            %li
              поставку оборудования и материалов;
            %li
              монтаж;
            %li
              обслуживание;
            %li
              ремонт.
          %p
            Обслуживание системы ОПС происходит ежемесячно на основе заключенного договора. Стоимость работ зависит от количества обслуживаемого оборудования.
        %li
          %h2 Турникеты
          %p.info
            Пожарная сигнализация - совокупность технических средств, предназначенных для обнаружения пожара, обработки, передачи в заданном виде извещения о пожаре, специальной информации и (или) выдачи команд на включение автоматических установок пожаротушения и включение исполнительных установок систем противодымной защиты, технологического и инженерного оборудования, а также других устройств противопожарной защиты;
          %h3 Компания "НИССА" осуществляет следующие услуги по созданию системы охранно-пожарной сигнализации:
          %ul
            %li
              проектирование;
            %li
              подбор оборудования (пожарные оповещатели и извещатели, приборы приемно-контрольные и др.) и материалов;
            %li
              поставку оборудования и материалов;
            %li
              монтаж;
            %li
              обслуживание;
            %li
              ремонт.
          %p
            Обслуживание системы ОПС происходит ежемесячно на основе заключенного договора. Стоимость работ зависит от количества обслуживаемого оборудования.