.wrapper
  #activity-categories
    %h1
      %i Наша
      Деятельность
      %span
    %ul
      - index = 0
      - @activity_categories.each do |ac|
        - unless ac.activities.empty?
          %li.activity_category{class: (index.even?) ? 'even' : 'odd' }
            - activity = ac.activities[rand(ac.activities.count)]
            = link_to ac do
              = image_tag activity.image_url(:thumb_470), alt: activity.title
              %p.title
                %span= ac.title
          - index += 1

#another-news
  .wrapper
    #news
      %h1
        Новости
        %i компании
        %span
      %ul#news-list
        - @news.each do |n|
          %li.item
            = image_tag n.image_url(:thumb), alt: n.title
            .info
              %p.date=l n.created_at, format: :long
              %h2.title= n.title
              %p.intro
                = n.intro
                = link_to "Подробнее>>>", n