#partners
  .wrapper
    %h1
      %i Наши
      Партнеры
      %span
  - @partners.each_with_index do |partner, index|
    %div{ class: ((index.odd?) ? 'blue' : 'white') }
      .wrapper
        = image_tag partner.image_url, alt: partner.title
        .company-info
          %h2
            %span Компания 
            = partner.title
          %p= link_to partner.link, partner.link, target: "_blank"
          = raw partner.info