#clients
  .wrapper
    %h1
      %i Наши
      клиенты
      %span
    .line
      - @client_categories.each do |cc|
        - unless cc.clients.empty?
          %ul.clients
            %h2= cc.title
            - cc.clients.each do |client|
              %li= client.title
