#news
  .wrapper
    %h1
      Новости
      %i 
        компании
      %span.line
    %ul#news-list
      - @news.each do |n|
        %li.item
          = image_tag n.image.thumb, alt: n.title
          .info
            %p.date=l n.created_at, format: :long
            %h2.title= n.title
            %p.intro
              = n.intro
              = link_to "Подробнее>>>", n
    = will_paginate @news