.wrapper
  #single-news
    = image_tag @single_news.image_url(:thumb_300), alt: @single_news.title
    .info
      %p.date=l @single_news.created_at, format: :long
      %h2.title= @single_news.title
      %p.full= raw @single_news.full
#another-news
  .wrapper
    #news
      %h1
        %i Другие
        новости
        %span
      %ul#news-list
        - @news.each do |n|
          %li.item
            = image_tag n.image_url(:thumb), alt: n.title
            .info
              %p.date=l n.created_at, format: :long
              %h2.title= n.title
              %p.intro
                = n.intro
                = link_to "Подробнее>>>", n