#about
  .wrapper
    %h1 
      %i О нашей
      Компании
      %span
    %p 
      %strong 
        Общество с ограниченной ответственностью "НИССА"
      \- зарегистрировано 13 октября 2005 года в городе Петропавловске- Камчатском.
  #ceo-info
    .wrapper
      -# #profile
      -#   = image_tag "ceo-photo.jpg", alt: "Генеральный дректор Алексей Алексеевич Наголов"
        %p.work Генеральный директор 
        %p.name Алексей Алексеевич Наголов
      #speach
        Компания НИССА – является ведущей инженерной компанией Камчатского края осуществляющей работы по выполнению многопрофильных проектов в регионе. На сегодняшний день имеет офисные и складские помещения, а также собственный парк автомобилей, в т.ч. специального назначения. В июне 2014 г открыт розничный магазин климатического оборудования “Климат-Комфорт” по ул. Транспортный тупик 1. Цель нашей компании - предоставление полного спектра услуг по созданию комплексных информационных и инженерных систем различного уровня. Компания НИССА имеет многолетний опыт по интеграции систем различного уровня от самых простых типовых решений до уникальных комплексных проектов. Мы всегда придерживаемся принципа приоритета интересов заказчика. 
  .wrapper
    #services  
      %h1 
        %i Основные виды
        деятельности
        %span
      %ul.services
        %h2.header Приоритетными направлениями деятельности компании является поставка, монтаж и обслуживание:
        %li
          Инженерных систем – вентиляция, кондиционирование, отопление;
        %li
          Систем безопасности – пожарно-охранная сигнализация, охранная сигнализация, видеонаблюдение;
        %li
          Энергообеспечение – электромонтаж, замеры электролаборатории. Гарантированное бесперебойное электроснабжение – ИБП, ДГУ.
        %li
          Традиционная системная интеграция в сфере ИТ-технологий -продажа и внедрение информационных систем. Проектирование информационных систем. Структурированные кабельные системы. Телекоммуникации. Системы связи. Мультимедия.
        %li
          Строительство объектов.
      -# .columns
      -#   %ul.services
      -#     %h2.header Поставка оборудования
      -#     %li персональных компьютеров, серверов и ноутбуков;
      -#     %li поставка и установка офисного оборудования и оргтехники;
      -#     %li поставка и установка полиграфического оборудования;
      -#     %li поставка и установка лицензионного программного обеспечения;
      -#     %li активного и пассивного сетевого оборудования.
      -#   %ul.services
      -#     %h2.header Сервисное обслуживание
      -#     %li противопожарная обработка;
      -#     %li поставка и монтаж системы пожарно-охранной сигнализации;
      -#     %li услуги электролаборатории по испытаниям и измерениям электроустановок;
      -#     %li поставка и монтаж систем кондиционирования воздуха;
      -#     %li электромонтажные работы;
      -#     %li монтаж ЛВС и СКС;
      -#     %li монтаж систем видеонаблюдения;
      -#     %li поставка и монтаж систем контроля допуска;
      -#     %li поставка, монтаж и пуско-наладка дизель-генераторных установок.
      -# .columns
      -#   %ul.services
      -#     %h2.header Услуги
      -#     %li противопожарная обработка;
      -#     %li поставка и монтаж системы пожарно-охранной сигнализации;
      -#     %li услуги электролаборатории по испытаниям и измерениям электроустановок;
      -#     %li поставка и монтаж систем кондиционирования воздуха;
      -#     %li электромонтажные работы;
      -#     %li монтаж ЛВС и СКС;
      -#     %li монтаж систем видеонаблюдения;
      -#     %li поставка и монтаж систем контроля допуска;
      -#     %li поставка, монтаж и пуско-наладка дизель-генераторных установок.
    #documents
      %h1 
        %i Наши
        лицензии, свидетельства и сертификаты
        %span
      %ul.documents
        -# %li.work-certs
        -#   .image
        -#     = image_tag "documents/work-certs.jpg", alt: "Свидетельство о допуске к работам, которые оказывают влияние на безопасностьобъектов капитального строительства"
        -#   %p
        -#     %strong
        -#       Свидетельство о допуске к работам
        -#     ,которые оказывают влияние на безопасностьобъектов капитального строительства
        -#     %span №84-2009-4101103472-С-013
        
        -# %li.svidetelstvo
        -#   .image
        -#     = image_tag "documents/svidetelstvo.jpg", alt: "Свидетельство некоммерческого партнерства \"Союз Строителей Камчатки\" Серия СК №000227"
        -#   %p
        -#     %strong
        -#       Свидетельство некоммерческого партнерства "Союз Строителей Камчатки"
        -#     %span Серия СК №000227
        
        -# %li.license
        -#   .image
        -#     = image_tag "documents/license.jpg", alt: "Лицензия на производство работ по монтажу, ремонту и обслуживанию средств обеспечения пожарной безопасности зданий и сооружений №2/26374"
        -#   %p
        -#     %strong
        -#       Лицензия на производство работ по монтажу, ремонту и обслуживанию
        -#     средств обеспечения пожарной безопасности зданий и сооружений
        -#     %span №2/26374
        
        -# %li.svidetelstvo-2
        -#   .image
        -#     = image_tag "documents/svidetelstvo-2.jpg", alt: "Свидетельство о регистрации электролаборатории №Э-75-0047 от 27.02.2009"
        -#   %p
        -#     %strong
        -#       Свидетельство о регистрации электролаборатории
        -#     %span №Э-75-0047 от 27.02.2009

        -# %li.certs
        -#   .image
        -#     = image_tag "documents/cert-kentatsu.jpg", alt: "Сертификаты авторизованного дилера Kentatsu, Haier, Daikin"
        -#     = image_tag "documents/cert-haier-1.jpg", alt: "Сертификаты авторизованного дилера Kentatsu, Haier, Daikin"
        -#     = image_tag "documents/cert-daikin.jpg", alt: "Сертификаты авторизованного дилера Kentatsu, Haier, Daikin"
        -#   %p
        -#     %strong
        -#       Сертификаты авторизованного дилера 
        -#     %span Kentatsu, 
        -#     %span Haier, 
        -#     %span Daikin

        %li.certs.one
          .image
            = link_to "images/documents/sro2014_1.jpg", class: 'fancybox', data: { no_turbolink: true }, rel: 'lic1' do
              = image_tag "documents/prev_sro2014_1.jpg", alt: "Свидетельство о допуске работ"
            = link_to "images/documents/sro2014_2.jpg", class: 'fancybox', data: { no_turbolink: true }, rel: 'lic1' do
              = image_tag "documents/prev_sro2014_2.jpg", alt: "Свидетельство о допуске работ"
            = link_to "images/documents/sro2014_3.jpg", class: 'fancybox', data: { no_turbolink: true }, rel: 'lic1' do
              = image_tag "documents/prev_sro2014_3.jpg", alt: "Свидетельство о допуске работ"
          %p
            Свидетельство о допуске работ

        %li.certs.two
          .image
            = link_to "images/documents/electro_lic.jpg", class: 'fancybox', data: { no_turbolink: true } do
              = image_tag "documents/prev_electro_lic.jpg", alt: "Свидетельство о регистрации электро лаборатории"
          %p
            Свидетельство о регистрации электро лаборатории

        %li.certs.three
          .image
            = link_to "images/documents/mchs2013_1.jpg", class: 'fancybox', data: { no_turbolink: true }, rel: 'lic3' do
              = image_tag "documents/prev_mchs2013_1.jpg", alt: "Лицензия деятельности по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сооружений"
            = link_to "images/documents/mchs2013_2.jpg", class: 'fancybox', data: { no_turbolink: true }, rel: 'lic3' do
              = image_tag "documents/prev_mchs2013_2.jpg", alt: "Лицензия деятельности по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сооружений"
          %p
            Лицензия деятельности по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сооружений