#contacts
  .wrapper
    %h1
      %i Наши
      контакты
      %span
  #map
  .wrapper
    #contact-data
      %ul
        %li
          %h2
            %i.placemark
            Адрес
          %p г.Петропавловск-Камчатский, 
          %p ул.Транспортный тупик д.1.
        %li
          %h2
            %i.phone
            Телефон/факс:
          %p +7 (4152) 41-03-45
        %li
          %h2
            %i.mail
            E-mail:
          %p nissa@nissa.kamchatka.ru