#partners
  .wrapper
    %h1
      %i Наши
      Партнеры
      %span
  .white
    .wrapper
      = image_tag "partners/logo-1.jpg", alt: "company1"
      .company-info
        %h2
          %span Компания 
          "АБН"
        %p= link_to 'http://www.abn.ru'
        %ul
          %li 
            \- активное сетевое оборудование (сетевые адаптеры, концентраторы, коммутаторы, маршрутизаторы, трансиверы, конвертеры, серверы печати, источники бесперебойного питания);
          %li
            \- элементы кабельной системы (кабель, кабельные каналы, разъемы, розетки, патч-панели, патч-корды, шкафы и стойки, инструмент);
          %li
            \- поставка и монтаж фальшпола;
          %li
            \- проектирование и монтаж информационных (компьютерные сети и телефония) и силовых кабельных систем, включая волоконно-оптический монтаж.
        %p 
          Адрес: 
          %strong Москва, ул. Архитектора Власова, д. 49 
        %p
          Тел.: 
          %strong  (495) 995-10-10 (32 линии), 960-23-23 (8 линий), 755-88-13 (8 линий) 
        %p
          Факс: 
          %strong (495) 960-23-13 
        %p
          Е-mail: 
          %strong inf@abn.ru
  .blue
    .wrapper
      = image_tag "partners/logo-1.jpg", alt: "company1"
      .company-info
        %h2
          %span Компания 
          "АБН"
        %p= link_to 'http://www.abn.ru'
        %ul
          %li 
            \- активное сетевое оборудование (сетевые адаптеры, концентраторы, коммутаторы, маршрутизаторы, трансиверы, конвертеры, серверы печати, источники бесперебойного питания);
          %li
            \- элементы кабельной системы (кабель, кабельные каналы, разъемы, розетки, патч-панели, патч-корды, шкафы и стойки, инструмент);
          %li
            \- поставка и монтаж фальшпола;
          %li
            \- проектирование и монтаж информационных (компьютерные сети и телефония) и силовых кабельных систем, включая волоконно-оптический монтаж.
        %p 
          Адрес: 
          %strong Москва, ул. Архитектора Власова, д. 49 
        %p
          Тел.: 
          %strong  (495) 995-10-10 (32 линии), 960-23-23 (8 линий), 755-88-13 (8 линий) 
        %p
          Факс: 
          %strong (495) 960-23-13 
        %p
          Е-mail: 
          %strong inf@abn.ru
  .white
    .wrapper
      = image_tag "partners/logo-1.jpg", alt: "company1"
      .company-info
        %h2
          %span Компания 
          "АБН"
        %p= link_to 'http://www.abn.ru'
        %ul
          %li 
            \- активное сетевое оборудование (сетевые адаптеры, концентраторы, коммутаторы, маршрутизаторы, трансиверы, конвертеры, серверы печати, источники бесперебойного питания);
          %li
            \- элементы кабельной системы (кабель, кабельные каналы, разъемы, розетки, патч-панели, патч-корды, шкафы и стойки, инструмент);
          %li
            \- поставка и монтаж фальшпола;
          %li
            \- проектирование и монтаж информационных (компьютерные сети и телефония) и силовых кабельных систем, включая волоконно-оптический монтаж.
        %p 
          Адрес: 
          %strong Москва, ул. Архитектора Власова, д. 49 
        %p
          Тел.: 
          %strong  (495) 995-10-10 (32 линии), 960-23-23 (8 линий), 755-88-13 (8 линий) 
        %p
          Факс: 
          %strong (495) 960-23-13 
        %p
          Е-mail: 
          %strong inf@abn.ru