#projects
  .wrapper
    %h1
      %i Наши
      Проекты
      %span
    .info
      В данном разделе представлен список наиболее крупных проектов, осуществелных в текущем и предыдущих годах ООО "НИССА" по различным направлениям деятельности.
    .line 
      .years
        %span.title Проекты:
        - @projects_by_year_by_month.each do |(year, projects_by_month)|
          %a{ href: "##{year}", class: ((@projects_by_year_by_month.keys[0] == year)? "active": ""), data: {year: year} }
            = year
            %span года
      .all-projects
        - @projects_by_year_by_month.each do |(year, projects_by_month)|
          %div{ id: year, class: (@projects_by_year_by_month.keys[0] == year)? "active": "hidden" }
            - projects_by_month = projects_by_month.sort_by { |_key, value| _key }
            - projects_by_month.each do |(month, projects)|
              %ul.projects
                %h2= @months[month]
                - projects.each do |project|
                  %li
                    - unless project.image_url.nil?
                      = image_tag project.image_url(:thumb), alt: project.title
                    = raw project.title