@import "vars";

header {
  height: $header_height;
  background-image: image-url("blocks/header/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: -100px 0;
  background-color: $header_bg_color;
  border-bottom: 5px solid $header_bd_color;
  #header_in {
    overflow: hidden;
    #logo {
      padding-top: 36px;
      float: left;
      margin-left: 10px;
    }
    #phone {
      padding-top: 60px;
      float: right;
      margin-right: 10px;
      .title {
        font-size: 18px;
        color: #373737;
      }
      .phone {
        font-size: 36px;
        color: #025a8d;
        font-weight: 600;
      }
    }
  }
}