@import "vars";

#main-menu {
  .menu {
    font-size: 14px;
    .item {
      a {
        display: block;
        width: 136px;
        text-align: center;
        padding: 42px 10px 29px 10px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 300;
        color: #025a8d;
        &.active, &:hover {
          font-weight: 600;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            border-left: 1px dotted $header_bd_color;
            height: 20px;
            bottom: 0;
            left: 50%;
          }
        }
      }
    }
  }
}