#about {
  padding: 50px 0;
  overflow: hidden;
  p {
    line-height: 17px;
    padding: 0 10px;
  }
  #ceo-info {
    margin: 35px 0;
    padding: 20px 0;
    background-color: #FFF;
    overflow: hidden;
    line-height: 17px;
    #profile {
      width: 230px;
      padding-right: 20px;
      float: left;
      text-align: center;
      img {
        border: 3px solid #e9f7fc;
        -moz-border-radius: 142px;
        -webkit-border-radius: 142px;
        border-radius: 142px;
        margin-bottom: 10px;
      }
      .work {
        font-style: italic;
      }
      .name {
        font-size: 14px;
        font-weight: 600;
      }
    }
    #speach {
      padding-top: 15px;
      font-style: italic;
    }
  }
  #services {
    overflow: hidden;
    .services {
      padding: 0 10px 20px 10px;
      list-style: disc;
      .header {
        color: #373737;
        list-style: none;
        padding-bottom: 20px;
      }
      li {
        line-height: 17px;
        line-height: 18px;
        font-style: italic;
        margin-left: 35px;
      }
    }
    .columns {
      float: left;
      width: 47%;
    }
  }
  #documents {
    .documents {
      padding: 0 10px;
      li {
        line-height: 17px;
        display: inline-block;
        vertical-align: top;
        padding-bottom: 40px;
        .image {
          text-align: center;
          height: 350px;
          img {
            -webkit-box-shadow: 3px 2px 4px 0px rgba(175, 175, 175, 0.75);
            -moz-box-shadow:    3px 2px 4px 0px rgba(175, 175, 175, 0.75);
            box-shadow:         3px 2px 4px 0px rgba(175, 175, 175, 0.75);
          }
        }
        span {
          border-bottom: 1px solid #373737;
        }
        &.work-certs {
          width: 225px;
        }
        &.svidetelstvo {
          width: 340px;
          padding: 0 75px;
          .image {
            img {
              margin-top: 40px;
            }
          }
        }
        &.license {
          width: 225px;
        }
        &.svidetelstvo-2 {
          width: 225px;
        }
        &.certs {
          // padding-left: 26px;
          p {
            text-align: center;
          }

          &.one {
            p {
              width: 678px;
            }
          }
          &.two {
            p {
              width: 210px;
            }
          }
          &.three {
            p {
              width: 420xp;
            }
          }
        }
      }
    }
  }
}