#activity {
  padding: 50px 0;
  .activity {
    overflow: hidden;
    background-color: #FFF;
    -webkit-box-shadow: -1px 2px 10px 0px rgba(1, 71, 93, 0.35);
    -moz-box-shadow:    -1px 2px 10px 0px rgba(1, 71, 93, 0.35);
    box-shadow:         -1px 2px 10px 0px rgba(1, 71, 93, 0.35);
    img {
      float: left;
      display: none;
      &.active {
        display: block;
      }
    }
    .links {
      padding: 35px 0;
      margin-left: 520px;

      h2 {
        position: relative;
        font-size: 18px;
        text-transform: uppercase;
        padding-bottom: 20px;
        &:before {
          position: absolute;
          content: "";
          width: 20px;
          height: 19px;
          top: 0;
          left: -25px;
          background-image: image-url("blocks/projects/years-bg.png");
          background-repeat: no-repeat;
          background-position: 0 0;
        }

      }
      .activity-links {
        li {
          padding: 5px 0;
          a {
            color: #373737;
            &.active {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  #activity-slider {
    padding: 60px 0;
    margin-top: 40px;
    background-color: #fbfdfe;
    line-height: 20px;
    ul {
      li {
        h2 {
          font-size: 24px;
          margin-bottom: 15px;
        }
        h3 {
          margin: 10px 0;
        }
        p {
          margin: 5px 0;
          em {
            font-style: italic;
          }
        }
        ul {
          list-style: disc;
          margin: 20px;
          li {
            margin: 5px 0;
          }
        }
      }
    }
  }
}