#activity-categories {
  margin-top: 40px;
  // padding-bottom: 60px;
  .activity_category {
    margin-bottom: 45px;
    display: inline-block;
    width: 432px;
    -webkit-box-shadow: -1px 2px 10px 0px rgba(1, 71, 93, 0.35);
    -moz-box-shadow:    -1px 2px 10px 0px rgba(1, 71, 93, 0.35);
    box-shadow:         -1px 2px 10px 0px rgba(1, 71, 93, 0.35);
    &.odd {
      margin-left: 92px;
    }
    a {
      text-decoration: none;
      img {
        width: 100%;
      }
      .title {
        background: #fcfcfc;
        margin-top: -2px;
        text-align: center;
        height: 86px;
        line-height: 86px;
        font-size: 18px;
        color: #025a8d;
        text-transform: uppercase;
        span {
          position: relative;
          &:before {
            position: absolute;
            content: "";
            width: 20px;
            height: 19px;
            top: 50%;
            left: -25px;
            margin-top: -9px;
            background-image: image-url("blocks/projects/years-bg.png");
            background-repeat: no-repeat;
            background-position: 0 0;
          }
        }
      }
    }
  }
}