#clients, #projects {
  padding: 50px 0;
  .line {
    position: relative;
    &:before {
      position: absolute;
      width: 1px;
      height: 100%;
      content: "";
      border-left: 1px solid #025a8d;
      left: 15px;
    }
    .clients, .projects {
      margin: 0 10px;
      width: 400px;
      border-left: 10px solid #025a8d;
      margin-bottom: 20px;
      -webkit-box-shadow: -1px 2px 10px 0px rgba(1, 71, 93, 0.35);
      -moz-box-shadow:    -1px 2px 10px 0px rgba(1, 71, 93, 0.35);
      box-shadow:         -1px 2px 10px 0px rgba(1, 71, 93, 0.35);
      &.opened {
        padding-bottom: 10px;
      }
      h2 {
        font-size: 18px;
        cursor: pointer;
        display: block;
        height: 35px;
        line-height: 35px;
        width: 380px;
        padding-left: 20px;
        text-transform: uppercase;
        &:hover {
          background-color: #025a8d;
          color: #fff;
        }
      }
      li {
        display: none;
        margin-left: 20px;
        line-height: 17px;
        &:before {
          content: '•';
          color: #025a8d;
          padding-right: 5px;
        }
      }
    }
  }
}

#projects {
  .info { padding: 20px 10px; }
  .years {
    position: relative;
    padding: 0 10px 15px 40px;
    font-size: 24px;
    color: #025a8d;
    &:before {
      position: absolute;
      content: "";
      padding-top: 7px;
      width: 20px;
      height: 19px;
      background-color: #e9f7fc;
      background-image: url(/assets/blocks/projects/years-bg.png);
      background-position: 0 7px;
      background-repeat: no-repeat;
      left: 7px;
    }
    a {
      color: #025a8d;
      font-weight: 300;
      font-size: 14px;
      margin: 0 5px;
      &.active {
        text-decoration: none;
        font-size: 30px;
        font-weight: 600;
        padding: 0 10px;
        span {
          font-size: 24px;
          font-weight: 300;
          display: inline;
        }
      } 
      span {
        display: none;
      }
    }
  }
  .all-projects {
    .hidden {
      display: none;
    }
    .projects {
      list-style: none;
      &.opened {
        width: 800px;
        h2 {
          width: 780px;
        }
      }
      li {
        padding: 5px 5px 5px 0;
        overflow: hidden;
        img {
          margin-right: 20px;
          float: left;
        }
        &:before {
          content: '';
          padding: 0;
        }
      }
    }
  }
}