#contacts {
  padding: 50px 0;
  #map {
    width: 100%;
    height: 435px;
    padding-bottom: 50px;
  }
  #contact-data {
    ul {
      text-align: center;
      li {
        font-size: 18px;
        text-align: left;
        display: inline-block;
        vertical-align: top;
        padding: 0 30px;
        line-height: 22px;
        h2 {
          padding-bottom: 5px;
          i {
            display: inline-block;
            background-image: image-url("blocks/contacts/contacts-icons.png");
            background-repeat: no-repeat;
            height: 27px;
            &.placemark {
              width: 15px;
              background-position: 0 100%;
            }
            &.phone {
              width: 15px;
              background-position: -16px 100%;
            }
            &.mail {
              width: 30px;
              background-position: -31px 100%;
            }
          }
        }
      }
    }
  }
}