#news {
  padding: 30px 0;
  #news-list {
    .item {
      display: inline-block;
      width: 455px;
      padding: 0 10px;
      min-height: 140px;
      margin-bottom: 30px;
      img {
        float: left;
        padding-right: 20px;
      }
      .info {
        margin-left: 160px;
        .date {
          font-size: 12px;
          color: #373737;
          padding-bottom: 5px;
          padding-left: 20px;
          background-image: image-url("blocks/news/date-icon.png");
          background-position: 0 0;
          background-repeat: no-repeat;
        }
        .title {
          font-size: 14px;
          line-height: 17px;
          padding-bottom: 15px;
        }
        .intro {
          font-size: 12px;
          line-height: 15px;
          a {
            color: #0bb4de;
          }
        }
      }
    }
  }
}
#another-news {
  background-color: #fbfdfe;
}
#single-news {
  overflow: hidden;
  padding: 50px 0;
  img {
    float: left;
    padding-right: 20px;
  }
  .info {
    margin-left: 320px;
    .date {
      font-size: 12px;
      color: #373737;
      padding-bottom: 5px;
      padding-left: 20px;
      background-image: image-url("blocks/news/date-icon.png");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
    .title {
      font-size: 24px;
      padding-bottom: 15px;
    }
    .full {
      line-height: 17px;
      font-size: 14px;
      a {
        color: #0bb4de;
      }
    }
  }
}