#partners {
  padding: 50px 0;
  .white {
    background-color: #FFF;
  }

  .white, .blue {
    overflow: hidden;
    padding: 30px 10px;
    img {
      float: left;
      border: 3px solid #e9f7fc;
      -moz-border-radius: 142px;
      -webkit-border-radius: 142px;
      border-radius: 142px;
    }
    .company-info {
      margin-left: 185px;
      h2 {
        font-size: 24px;
        span {
          font-weight: 400;
        }
      }
      ul {
        padding: 20px 0;
        font-style: italic;
        li {
          padding: 5px 0;
        }
      }
    }
  }
}