#slider {
  background-image: image-url("blocks/slider/slider-bg.jpg");
  background-position: 0 0;
  background-repeat: repeat-x;
  position: relative;
  height: 381px;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    background-image: image-url("blocks/slider/slider-shadow-bg.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    z-index: 1;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-image: image-url("blocks/slider/slider-shadow-bg.png");
    background-position: 0 -29px;
    background-repeat: repeat-x;
    z-index: 2;
  }
  .wrapper {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 1412px;
      height: 381px;
      left: 50%;
      margin-left: -710px;
      background-image: image-url("blocks/slider/slider-glow.png");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
    #slider-content {
      position: relative;
      z-index: 2;
      .slides {
        width: 805px;
        margin: 0 auto;
      }
    } 
  }
}