- @split_title = @activity_categories.title.split
#activity
  .wrapper
    %h1
      = @split_title[0]
      %i= @split_title[1]
      %span
    .activity
      - @activity_categories.activities.each_with_index do |activity, index|
        = image_tag activity.image_url(:thumb_470), alt: activity.title, class: (index > 0) ? '' : 'active'
      .links
        %h2= @activity_categories.title
        %ul.activity-links
          - @activity_categories.activities.each_with_index do |activity, index|
            %li= link_to activity.title, "#1", class: ['activity-link', ((index > 0) ? '' : 'active')]
  #activity-slider
    .wrapper
      %ul.slider
        - @activity_categories.activities.each do |activity|
          %li
            %h2= activity.title
            = raw activity.info