/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset.css
 *= require jquery.bxslider.css
 *= require jquery.bxslider.activity.css
 *= require fancybox
 *= require_tree ./blocks
 *= require_self
 */

@import "vars";

@font-face {
  font-family: 'open_sans';
  src: url('opensans_light_cyrillic/OpenSans-Light-webfont.eot');
  src: url('opensans_light_cyrillic/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('opensans_light_cyrillic/OpenSans-Light-webfont.woff') format('woff'),
       url('opensans_light_cyrillic/OpenSans-Light-webfont.ttf') format('truetype'),
       url('opensans_light_cyrillic/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: 300;
  font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('opensans_regular_cyrillic/OpenSans-Regular-webfont.eot');
    src: url('opensans_regular_cyrillic/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans_regular_cyrillic/OpenSans-Regular-webfont.woff') format('woff'),
         url('opensans_regular_cyrillic/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('opensans_regular_cyrillic/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src: url('opensans_semibold_cyrillic/OpenSans-Semibold-webfont.eot');
  src: url('opensans_semibold_cyrillic/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('opensans_semibold_cyrillic/OpenSans-Semibold-webfont.woff') format('woff'),
       url('opensans_semibold_cyrillic/OpenSans-Semibold-webfont.ttf') format('truetype'),
       url('opensans_semibold_cyrillic/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src: url('opensans_italic_cyrillic/OpenSans-Italic-webfont.eot');
  src: url('opensans_italic_cyrillic/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('opensans_italic_cyrillic/OpenSans-Italic-webfont.woff') format('woff'),
       url('opensans_italic_cyrillic/OpenSans-Italic-webfont.ttf') format('truetype'),
       url('opensans_italic_cyrillic/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

html {
  height: 100%;
  body {
    font-size: 14px;
    font-family: 'open_sans';
    color: #373737;
    height: 100%;
    #viewport {
      min-height: 100%;
      margin-bottom: -$footer-height;
      main {
        background-color: #e9f7fc;
        display: block;
        &:after {
          content: "";
          height: $footer-height + 25 ;
          display: block;
        }
      }
    }
  }
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.menu {
  .item {
    display: inline-block;
  }
}

h1 {
  padding: 0 10px;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  color: #025a8d;
  text-transform: uppercase; 
  i {
    font-weight: 300;
    position: relative;
    color: #5c9bc0; 
    text-transform: none; 
  }
  span {
    margin-left: 15px;
    display: inline-block;
    // height: 1px;
    border-bottom: 1px dotted $header_bd_color;
    width: 100%;
    position: absolute;
    top: 55%;
  }
}

h2 {
  font-weight: 600;
  color: #025a8d;
}

h3 {
  font-weight: 600;
}

.pagination {
  text-align: center;
  font-size: 13px; 
  font-weight: 600;
  color: #025a8d;
  em, a, span {
    padding: 0 10px;
  }
  a {
    color: #025a8d;
  }
}

a {
  color: #0bb4de;
}

strong {
  font-weight: 600;
}