!!!5
%html
  %head
    %title Официальный сайт компании "НИССА"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag 'http://api-maps.yandex.ru/2.1/?lang=ru_RU'
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tags
  %body
    #viewport
      %header
        .wrapper
          #header_in
            #logo
              = link_to root_path do
                = image_tag "logo.png", alt: "Нисса кондиционеры"
            #phone
              %p.title Контактный телефон:
              %p.phone +7 (4152) 41 03 45
          %nav#main-menu
            %ul.menu
              %li.item= link_to "О компании", about_path, class: active(about_path)
              %li.item= link_to "Новости", news_index_path, class: active(news_index_path)
              %li.item= link_to "Проекты", projects_path, class: active(projects_path)
              %li.item= link_to "Клиенты", clients_path, class: active(clients_path)
              %li.item= link_to "Партнеры", partners_path, class: active(partners_path)
              %li.item= link_to "Контакты", contacts_path, class: active(contacts_path)
      %main
        = render 'layouts/slider'
        = yield
    %footer
      .wrapper
        %p.copyright ООО "Нисса", 2014